<div class="mt-4">
  <div class="container">
    <h3>Post Content</h3>
    <form method="post" action="/blog/store">
      <div class="form-group">
        <label for="name">name</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>
      <div class="form-group">
        <label for="title">title</label>
        <input type="text" class="form-control" id="title" name="title">
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input type="text" class="form-control" id="image" name="image" placeholder="enter link image">
      </div>
      <div class="form-group">
        <label for="description">description</label>
        <textarea class="form-control" id="description" rows="3" name="description"></textarea>
      </div>
      <button type="submit" class="btn btn-primary mt-4">Post</button>
    </form>
  </div>
</div>