<div class="container">
  <form method="post">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="pass" class="form-control" id="exampleInputPassword1">
    </div>
    <select class="form-select mb-3" name="dater" aria-label="Default select example">
      <option >chon gioi tinh</option>
      <option value="nam">nam</option>
      <option value="nu">nu</option>
    </select>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>